-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: symotec2_bfb
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absen_raw_temp`
--

DROP TABLE IF EXISTS `absen_raw_temp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absen_raw_temp` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_staff` int(11) DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `dept_excel` varchar(255) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `hari` varchar(50) DEFAULT NULL,
  `tipe_hari` varchar(50) DEFAULT NULL,
  `jadwal` varchar(100) DEFAULT NULL,
  `scan_in` varchar(50) DEFAULT NULL,
  `scan_out` varchar(50) DEFAULT NULL,
  `kerja` decimal(10,2) DEFAULT NULL,
  `lembur` decimal(10,2) DEFAULT NULL,
  `kurang` decimal(10,2) DEFAULT NULL,
  `terlambat` decimal(10,2) DEFAULT NULL,
  `pulang_cepat` decimal(10,2) DEFAULT NULL,
  `absen` decimal(10,2) DEFAULT NULL,
  `lupa_in_out` decimal(10,2) DEFAULT NULL,
  `ijin` decimal(10,2) DEFAULT NULL,
  `alasan_ijin` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1414 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absen_raw_temp`
--

LOCK TABLES `absen_raw_temp` WRITE;
/*!40000 ALTER TABLE `absen_raw_temp` DISABLE KEYS */;
/*!40000 ALTER TABLE `absen_raw_temp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `akses_bagian`
--

DROP TABLE IF EXISTS `akses_bagian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `akses_bagian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bagian` varchar(50) DEFAULT NULL,
  `id_menu` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_bagian` (`bagian`),
  KEY `id_menu` (`id_menu`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `akses_bagian`
--

LOCK TABLES `akses_bagian` WRITE;
/*!40000 ALTER TABLE `akses_bagian` DISABLE KEYS */;
INSERT INTO `akses_bagian` VALUES (1,'owner',93),(2,'owner',94),(3,'owner',95),(4,'owner',96),(5,'owner',97),(6,'owner',98);
/*!40000 ALTER TABLE `akses_bagian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `akses_jabatan`
--

DROP TABLE IF EXISTS `akses_jabatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `akses_jabatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bagian` varchar(50) DEFAULT NULL,
  `jabatan` varchar(50) DEFAULT NULL,
  `id_menu` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_jabatan` (`jabatan`),
  KEY `id_menu` (`id_menu`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `akses_jabatan`
--

LOCK TABLES `akses_jabatan` WRITE;
/*!40000 ALTER TABLE `akses_jabatan` DISABLE KEYS */;
INSERT INTO `akses_jabatan` VALUES (1,'owner','staff',93),(2,'owner','staff',94),(3,'owner','staff',95),(4,'owner','staff',96),(5,'owner','staff',97),(6,'owner','staff',98);
/*!40000 ALTER TABLE `akses_jabatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `akses_location_menu`
--

DROP TABLE IF EXISTS `akses_location_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `akses_location_menu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` enum('HO','CABANG') NOT NULL,
  `id_menu` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_access` (`type`,`id_menu`),
  KEY `id_menu` (`id_menu`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `akses_location_menu`
--

LOCK TABLES `akses_location_menu` WRITE;
/*!40000 ALTER TABLE `akses_location_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `akses_location_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `antar`
--

DROP TABLE IF EXISTS `antar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `antar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sj` varchar(100) NOT NULL,
  `tanggal` date NOT NULL,
  `pengirim` varchar(50) NOT NULL,
  `penerima` varchar(255) NOT NULL,
  `notrim` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `antar`
--

LOCK TABLES `antar` WRITE;
/*!40000 ALTER TABLE `antar` DISABLE KEYS */;
INSERT INTO `antar` VALUES (3,'SJ260620120536','2026-06-20','1','2','Sudah'),(4,'SJ260620121742','2026-06-20','1','3','Sudah'),(5,'SJ260620123408','2026-06-20','1','4','Sudah'),(6,'SJ260620123715','2026-06-20','1','5','Sudah'),(7,'SJ260620123954','2026-06-20','1','5','Sudah'),(8,'SJ260620124521','2026-06-20','1','3','Sudah'),(9,'SJ260620125249','2026-06-20','1','4','Sudah'),(10,'0001/SJ/VI/2026','2026-06-22','1','4','Sudah'),(12,'ANTAR20260600001','2026-06-30','6','1','Sudah');
/*!40000 ALTER TABLE `antar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `apby`
--

DROP TABLE IF EXISTS `apby`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `apby` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `inv` varchar(100) NOT NULL,
  `kodebooking` varchar(100) NOT NULL,
  `cust_id` varchar(100) NOT NULL,
  `bayar1` decimal(20,2) NOT NULL,
  `idt` int(11) DEFAULT NULL,
  `idc` int(11) DEFAULT NULL,
  `idd` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apby`
--

LOCK TABLES `apby` WRITE;
/*!40000 ALTER TABLE `apby` DISABLE KEYS */;
/*!40000 ALTER TABLE `apby` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arby`
--

DROP TABLE IF EXISTS `arby`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arby` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `inv` varchar(100) NOT NULL,
  `kodebooking` varchar(100) DEFAULT NULL,
  `cust_id` varchar(100) NOT NULL,
  `bayar1` decimal(20,2) NOT NULL,
  `idt` varchar(100) DEFAULT NULL,
  `idc` varchar(100) DEFAULT NULL,
  `idd` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arby`
--

LOCK TABLES `arby` WRITE;
/*!40000 ALTER TABLE `arby` DISABLE KEYS */;
/*!40000 ALTER TABLE `arby` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aset`
--

DROP TABLE IF EXISTS `aset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aset` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` text DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `lampiran` varchar(255) DEFAULT NULL,
  `beli` decimal(65,2) DEFAULT NULL,
  `location` varchar(50) DEFAULT NULL,
  `devisi` varchar(50) DEFAULT NULL,
  `recuring` varchar(50) DEFAULT NULL,
  `keteranganlok` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aset`
--

LOCK TABLES `aset` WRITE;
/*!40000 ALTER TABLE `aset` DISABLE KEYS */;
/*!40000 ALTER TABLE `aset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b`
--

DROP TABLE IF EXISTS `b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_b` varchar(50) NOT NULL,
  `nama_b` varchar(100) NOT NULL,
  `kategori` varchar(100) DEFAULT NULL,
  `satuan_besar` varchar(50) DEFAULT NULL,
  `rasio_besar` decimal(10,2) DEFAULT 0.00,
  `satuan_tengah` varchar(50) DEFAULT NULL,
  `rasio_tengah` decimal(10,2) DEFAULT 0.00,
  `satuan_kecil` varchar(50) DEFAULT NULL,
  `jenis` varchar(225) DEFAULT NULL,
  `brand` varchar(225) DEFAULT NULL,
  `harga_b` decimal(60,2) NOT NULL,
  `hargapack` decimal(15,2) DEFAULT 0.00,
  `qpack` int(11) DEFAULT 0,
  `ppn_b` decimal(60,2) NOT NULL,
  `hargat_b` decimal(60,2) NOT NULL,
  `gambar_b` varchar(255) DEFAULT NULL,
  `harga_m` decimal(60,2) NOT NULL,
  `ppn_m` decimal(60,2) NOT NULL,
  `hargat_m` decimal(60,2) NOT NULL,
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  `dpp` decimal(60,2) NOT NULL DEFAULT 0.00,
  `minim` decimal(60,0) NOT NULL DEFAULT 10,
  `pemasok` varchar(100) DEFAULT NULL,
  `barcode` varchar(100) DEFAULT NULL,
  `harga_retail` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2447 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b`
--

LOCK TABLES `b` WRITE;
/*!40000 ALTER TABLE `b` DISABLE KEYS */;
/*!40000 ALTER TABLE `b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bagian`
--

DROP TABLE IF EXISTS `bagian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bagian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_bagian` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bagian`
--

LOCK TABLES `bagian` WRITE;
/*!40000 ALTER TABLE `bagian` DISABLE KEYS */;
INSERT INTO `bagian` VALUES (1,'Operation'),(2,'Sales'),(3,'owner');
/*!40000 ALTER TABLE `bagian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank`
--

DROP TABLE IF EXISTS `bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank` (
  `id_bank` int(11) NOT NULL AUTO_INCREMENT,
  `n_bank` text NOT NULL,
  `tanggal` date NOT NULL,
  `status` text DEFAULT NULL,
  PRIMARY KEY (`id_bank`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank`
--

LOCK TABLES `bank` WRITE;
/*!40000 ALTER TABLE `bank` DISABLE KEYS */;
INSERT INTO `bank` VALUES (1,'BCA','2026-06-30',NULL);
/*!40000 ALTER TABLE `bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_cabang`
--

DROP TABLE IF EXISTS `bank_cabang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_cabang` (
  `id_bc` int(11) NOT NULL AUTO_INCREMENT,
  `id_bank` int(11) NOT NULL,
  `idl` int(11) NOT NULL,
  `norek` text NOT NULL,
  `status` enum('aktive','nonaktif') NOT NULL,
  `tanggal` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_bc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_cabang`
--

LOCK TABLES `bank_cabang` WRITE;
/*!40000 ALTER TABLE `bank_cabang` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_cabang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bdm`
--

DROP TABLE IF EXISTS `bdm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bdm` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` text DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `lampiran` varchar(255) DEFAULT NULL,
  `beli` decimal(65,2) DEFAULT NULL,
  `location` varchar(50) DEFAULT NULL,
  `devisi` varchar(50) DEFAULT NULL,
  `recuring` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bdm`
--

LOCK TABLES `bdm` WRITE;
/*!40000 ALTER TABLE `bdm` DISABLE KEYS */;
/*!40000 ALTER TABLE `bdm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beli`
--

DROP TABLE IF EXISTS `beli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beli` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `inv` varchar(100) NOT NULL,
  `kodebooking` varchar(100) NOT NULL,
  `cust_id` varchar(100) NOT NULL,
  `tagihan` decimal(20,2) NOT NULL,
  `bayar` decimal(20,2) DEFAULT NULL,
  `sisa` decimal(20,2) DEFAULT NULL,
  `location` varchar(20) NOT NULL,
  `devisi` varchar(20) NOT NULL,
  `pph23` decimal(60,2) DEFAULT NULL,
  `bukpot23` varchar(100) DEFAULT NULL,
  `fp` varchar(100) DEFAULT NULL,
  `23dibayar` varchar(2) DEFAULT NULL,
  `jenispph` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beli`
--

LOCK TABLES `beli` WRITE;
/*!40000 ALTER TABLE `beli` DISABLE KEYS */;
/*!40000 ALTER TABLE `beli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bi`
--

DROP TABLE IF EXISTS `bi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bi` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bi`
--

LOCK TABLES `bi` WRITE;
/*!40000 ALTER TABLE `bi` DISABLE KEYS */;
/*!40000 ALTER TABLE `bi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biaya`
--

DROP TABLE IF EXISTS `biaya`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `biaya` (
  `idby` int(11) NOT NULL AUTO_INCREMENT,
  `namaby` varchar(100) NOT NULL,
  `LR` varchar(1) NOT NULL DEFAULT '1',
  `aktive` varchar(1) DEFAULT '1',
  PRIMARY KEY (`idby`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biaya`
--

LOCK TABLES `biaya` WRITE;
/*!40000 ALTER TABLE `biaya` DISABLE KEYS */;
/*!40000 ALTER TABLE `biaya` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bis`
--

DROP TABLE IF EXISTS `bis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bis` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bis`
--

LOCK TABLES `bis` WRITE;
/*!40000 ALTER TABLE `bis` DISABLE KEYS */;
/*!40000 ALTER TABLE `bis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bo`
--

DROP TABLE IF EXISTS `bo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bo` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bo`
--

LOCK TABLES `bo` WRITE;
/*!40000 ALTER TABLE `bo` DISABLE KEYS */;
/*!40000 ALTER TABLE `bo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bos`
--

DROP TABLE IF EXISTS `bos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bos` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bos`
--

LOCK TABLES `bos` WRITE;
/*!40000 ALTER TABLE `bos` DISABLE KEYS */;
/*!40000 ALTER TABLE `bos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brand_b`
--

DROP TABLE IF EXISTS `brand_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brand_b` (
  `id_brand` int(11) NOT NULL AUTO_INCREMENT,
  `brand` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_brand`)
) ENGINE=InnoDB AUTO_INCREMENT=542 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brand_b`
--

LOCK TABLES `brand_b` WRITE;
/*!40000 ALTER TABLE `brand_b` DISABLE KEYS */;
/*!40000 ALTER TABLE `brand_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `budget`
--

DROP TABLE IF EXISTS `budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `budget` (
  `idb` int(11) NOT NULL AUTO_INCREMENT,
  `namab` varchar(100) NOT NULL,
  `nominal` decimal(60,0) NOT NULL,
  `negara` varchar(100) NOT NULL,
  `keterangan` text NOT NULL,
  `status` enum('aktive','nonaktive') NOT NULL DEFAULT 'aktive',
  PRIMARY KEY (`idb`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `budget`
--

LOCK TABLES `budget` WRITE;
/*!40000 ALTER TABLE `budget` DISABLE KEYS */;
/*!40000 ALTER TABLE `budget` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cis`
--

DROP TABLE IF EXISTS `cis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cis` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cis`
--

LOCK TABLES `cis` WRITE;
/*!40000 ALTER TABLE `cis` DISABLE KEYS */;
/*!40000 ALTER TABLE `cis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `close`
--

DROP TABLE IF EXISTS `close`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `close` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bulan` int(11) NOT NULL,
  `tahun` int(11) NOT NULL,
  `coa` varchar(255) NOT NULL,
  `saldo_akhir` decimal(60,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `location` varchar(50) DEFAULT NULL,
  `devisi` varchar(255) NOT NULL DEFAULT 'Default Divisi',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `close`
--

LOCK TABLES `close` WRITE;
/*!40000 ALTER TABLE `close` DISABLE KEYS */;
/*!40000 ALTER TABLE `close` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cnap`
--

DROP TABLE IF EXISTS `cnap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cnap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cn` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cnap`
--

LOCK TABLES `cnap` WRITE;
/*!40000 ALTER TABLE `cnap` DISABLE KEYS */;
/*!40000 ALTER TABLE `cnap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cnar`
--

DROP TABLE IF EXISTS `cnar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cnar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cn` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cnar`
--

LOCK TABLES `cnar` WRITE;
/*!40000 ALTER TABLE `cnar` DISABLE KEYS */;
/*!40000 ALTER TABLE `cnar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cndn`
--

DROP TABLE IF EXISTS `cndn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cndn` (
  `idn` int(11) NOT NULL AUTO_INCREMENT,
  `no_cn_dn` varchar(100) NOT NULL,
  `kode_booking` varchar(100) DEFAULT NULL,
  `cn` decimal(60,2) DEFAULT NULL,
  `dn` decimal(60,2) DEFAULT NULL,
  `id_cust` int(11) NOT NULL,
  `tanggal` date DEFAULT NULL,
  `inv` varchar(100) DEFAULT NULL,
  `id_parent` int(11) DEFAULT NULL,
  `description` varchar(255) NOT NULL,
  `sup` int(11) DEFAULT NULL,
  PRIMARY KEY (`idn`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cndn`
--

LOCK TABLES `cndn` WRITE;
/*!40000 ALTER TABLE `cndn` DISABLE KEYS */;
INSERT INTO `cndn` VALUES (1,'CN-20260703-0001',NULL,650.00,0.00,0,'2026-07-03',NULL,NULL,'tes keteramgam',31),(2,'CN-20260630-0001',NULL,120.00,0.00,0,'2026-06-30',NULL,NULL,'sddas',31),(3,'CN-20260630-0002',NULL,212.00,0.00,0,'2026-06-30',NULL,NULL,'dsada',31),(4,'CN-20260630-0003',NULL,212.00,0.00,0,'2026-06-30',NULL,NULL,'dsada',31);
/*!40000 ALTER TABLE `cndn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cndnar`
--

DROP TABLE IF EXISTS `cndnar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cndnar` (
  `idn` int(11) NOT NULL AUTO_INCREMENT,
  `no_cn_dn` varchar(100) NOT NULL,
  `kode_booking` varchar(100) DEFAULT NULL,
  `cn` decimal(60,2) DEFAULT NULL,
  `dn` decimal(60,2) DEFAULT NULL,
  `id_cust` int(11) NOT NULL,
  `tanggal` date DEFAULT NULL,
  `inv` varchar(100) DEFAULT NULL,
  `id_parent` int(11) DEFAULT NULL,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`idn`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cndnar`
--

LOCK TABLES `cndnar` WRITE;
/*!40000 ALTER TABLE `cndnar` DISABLE KEYS */;
/*!40000 ALTER TABLE `cndnar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coa`
--

DROP TABLE IF EXISTS `coa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_code` varchar(50) NOT NULL,
  `account_name` varchar(100) NOT NULL,
  `posisi` enum('neraca','P&L') NOT NULL,
  `dc` enum('debet','credit') NOT NULL,
  `layer` varchar(50) NOT NULL,
  `open` decimal(65,2) DEFAULT 0.00,
  `parent_account` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_account_code` (`account_code`)
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coa`
--

LOCK TABLES `coa` WRITE;
/*!40000 ALTER TABLE `coa` DISABLE KEYS */;
/*!40000 ALTER TABLE `coa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cos`
--

DROP TABLE IF EXISTS `cos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cos` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cos`
--

LOCK TABLES `cos` WRITE;
/*!40000 ALTER TABLE `cos` DISABLE KEYS */;
INSERT INTO `cos` VALUES (3,'COS20260001'),(4,'COS20260004'),(5,'COS20260005'),(6,'COS20260006'),(7,'COS20260007'),(8,'0001/COS/VII/2026');
/*!40000 ALTER TABLE `cos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cust`
--

DROP TABLE IF EXISTS `cust`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cust` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(50) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `alamat` text NOT NULL,
  `npwp` varchar(50) DEFAULT NULL,
  `cabang` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cust`
--

LOCK TABLES `cust` WRITE;
/*!40000 ALTER TABLE `cust` DISABLE KEYS */;
INSERT INTO `cust` VALUES (2,'1','tes','hwhwhw','jkhsuhsfv',NULL);
/*!40000 ALTER TABLE `cust` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_karyawan`
--

DROP TABLE IF EXISTS `data_karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_karyawan` (
  `no_staff` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) DEFAULT NULL,
  `LP` enum('L','P') NOT NULL,
  `dept` varchar(50) DEFAULT NULL,
  `jabatan` varchar(50) DEFAULT NULL,
  `tgl_masuk` date DEFAULT NULL,
  `tgl_lahir` date DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `foto_ktp` varchar(255) DEFAULT NULL,
  `kk` varchar(20) DEFAULT NULL,
  `foto_kk` varchar(255) DEFAULT NULL,
  `status_menikah` enum('Menikah','Belum Menikah') DEFAULT NULL,
  `jumlah_tanggungan` int(11) DEFAULT NULL,
  `no_telp` varchar(20) DEFAULT NULL,
  `pendidikan` varchar(50) DEFAULT NULL,
  `nama_darurat` varchar(100) DEFAULT NULL,
  `no_darurat` varchar(20) DEFAULT NULL,
  `bpjs_kes` decimal(60,2) DEFAULT NULL,
  `bpjs_tk` decimal(60,2) DEFAULT NULL,
  `gaji_pokok` decimal(15,2) DEFAULT NULL,
  `upah_lembur` decimal(15,2) DEFAULT NULL,
  `aktive` enum('aktive','nonaktive') NOT NULL DEFAULT 'aktive',
  `jenis_gaji` enum('bulanan','mingguan') NOT NULL,
  PRIMARY KEY (`no_staff`)
) ENGINE=InnoDB AUTO_INCREMENT=160 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_karyawan`
--

LOCK TABLES `data_karyawan` WRITE;
/*!40000 ALTER TABLE `data_karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dep`
--

DROP TABLE IF EXISTS `dep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `departemen` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dep`
--

LOCK TABLES `dep` WRITE;
/*!40000 ALTER TABLE `dep` DISABLE KEYS */;
INSERT INTO `dep` VALUES (1,'accounting');
/*!40000 ALTER TABLE `dep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dnap`
--

DROP TABLE IF EXISTS `dnap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dnap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dn` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dnap`
--

LOCK TABLES `dnap` WRITE;
/*!40000 ALTER TABLE `dnap` DISABLE KEYS */;
/*!40000 ALTER TABLE `dnap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dnar`
--

DROP TABLE IF EXISTS `dnar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dnar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dn` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dnar`
--

LOCK TABLES `dnar` WRITE;
/*!40000 ALTER TABLE `dnar` DISABLE KEYS */;
/*!40000 ALTER TABLE `dnar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gaji_harian`
--

DROP TABLE IF EXISTS `gaji_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gaji_harian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_staff` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `jabatan_aktual` varchar(100) NOT NULL,
  `dept_aktual` varchar(100) DEFAULT NULL,
  `status_hadir` enum('Hadir','Ijin','Alpa','Sakit') DEFAULT 'Hadir',
  `nominal_gaji` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_staff_tgl` (`no_staff`,`tanggal`)
) ENGINE=InnoDB AUTO_INCREMENT=231 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gaji_harian`
--

LOCK TABLES `gaji_harian` WRITE;
/*!40000 ALTER TABLE `gaji_harian` DISABLE KEYS */;
/*!40000 ALTER TABLE `gaji_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jabatan`
--

DROP TABLE IF EXISTS `jabatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jabatan` (
  `idj` int(11) NOT NULL AUTO_INCREMENT,
  `jabatan` varchar(50) NOT NULL,
  PRIMARY KEY (`idj`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jabatan`
--

LOCK TABLES `jabatan` WRITE;
/*!40000 ALTER TABLE `jabatan` DISABLE KEYS */;
INSERT INTO `jabatan` VALUES (1,'DIREKTUR UTAMA'),(2,'Staf');
/*!40000 ALTER TABLE `jabatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_b`
--

DROP TABLE IF EXISTS `jenis_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jenis_b` (
  `id_jenis` int(11) NOT NULL AUTO_INCREMENT,
  `jenis` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_jenis`)
) ENGINE=InnoDB AUTO_INCREMENT=297 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_b`
--

LOCK TABLES `jenis_b` WRITE;
/*!40000 ALTER TABLE `jenis_b` DISABLE KEYS */;
/*!40000 ALTER TABLE `jenis_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurnal`
--

DROP TABLE IF EXISTS `jurnal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jurnal` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `journal_number` text DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `lampiran` varchar(255) DEFAULT NULL,
  `coa` varchar(255) DEFAULT NULL,
  `debet` decimal(65,2) DEFAULT NULL,
  `kredit` decimal(65,2) DEFAULT NULL,
  `posting` varchar(10) DEFAULT NULL,
  `jurnal_sementara` varchar(50) DEFAULT NULL,
  `account_name` varchar(255) DEFAULT NULL,
  `kode_booking` varchar(50) DEFAULT NULL,
  `supcust` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurnal`
--

LOCK TABLES `jurnal` WRITE;
/*!40000 ALTER TABLE `jurnal` DISABLE KEYS */;
/*!40000 ALTER TABLE `jurnal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kas`
--

DROP TABLE IF EXISTS `kas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kas` (
  `id` int(11) NOT NULL,
  `jurnal` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kas`
--

LOCK TABLES `kas` WRITE;
/*!40000 ALTER TABLE `kas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kualitas`
--

DROP TABLE IF EXISTS `kualitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kualitas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `f` varchar(10) NOT NULL,
  `m` varchar(10) NOT NULL,
  `e` varchar(10) NOT NULL,
  `bf` decimal(60,0) NOT NULL,
  `cf` decimal(60,0) NOT NULL,
  `bcf` decimal(60,0) NOT NULL,
  `150` decimal(60,0) NOT NULL,
  `100` decimal(60,0) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kualitas`
--

LOCK TABLES `kualitas` WRITE;
/*!40000 ALTER TABLE `kualitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kualitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kurs`
--

DROP TABLE IF EXISTS `kurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kurs` (
  `idkrus` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `kurs` decimal(10,2) NOT NULL,
  PRIMARY KEY (`idkrus`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kurs`
--

LOCK TABLES `kurs` WRITE;
/*!40000 ALTER TABLE `kurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `kurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `location` (
  `idl` int(11) NOT NULL AUTO_INCREMENT,
  `nama_cabang` varchar(100) NOT NULL,
  `alamat` varchar(255) NOT NULL,
  `telp` varchar(100) NOT NULL,
  PRIMARY KEY (`idl`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location`
--

LOCK TABLES `location` WRITE;
/*!40000 ALTER TABLE `location` DISABLE KEYS */;
/*!40000 ALTER TABLE `location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_activity`
--

DROP TABLE IF EXISTS `log_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_activity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action` varchar(50) NOT NULL,
  `user` varchar(100) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_activity`
--

LOCK TABLES `log_activity` WRITE;
/*!40000 ALTER TABLE `log_activity` DISABLE KEYS */;
INSERT INTO `log_activity` VALUES (88,'tambah','system','Tambah karyawan tes','2026-02-20 11:58:45'),(89,'tambah','system','Tambah karyawan Ahmad Raihan Khomeini Saputra','2026-06-24 10:27:51');
/*!40000 ALTER TABLE `log_activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ip_address` varchar(45) NOT NULL,
  `userid` varchar(100) NOT NULL,
  `attempt_time` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_gudang`
--

DROP TABLE IF EXISTS `master_gudang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_gudang` (
  `id_gudang` int(11) NOT NULL AUTO_INCREMENT,
  `nama_gudang` varchar(100) NOT NULL,
  `alamat` varchar(255) NOT NULL,
  `telp` varchar(100) NOT NULL,
  `sales` varchar(100) NOT NULL,
  PRIMARY KEY (`id_gudang`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_gudang`
--

LOCK TABLES `master_gudang` WRITE;
/*!40000 ALTER TABLE `master_gudang` DISABLE KEYS */;
INSERT INTO `master_gudang` VALUES (1,'Gudang 1','jsafyjg','qjksuxgyj','sqjgjkh'),(2,'Gudang 2','test','test','test'),(3,'Gudang 3','','',''),(4,'Gudang 4','','',''),(5,'Gudang 5','','',''),(6,'Gudang Pusat','dsadsad','3424','dsada');
/*!40000 ALTER TABLE `master_gudang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_nomor_dokumen`
--

DROP TABLE IF EXISTS `master_nomor_dokumen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_nomor_dokumen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_dokumen` varchar(20) NOT NULL,
  `bulan` int(11) NOT NULL,
  `tahun` varchar(4) NOT NULL,
  `nomor_terakhir` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unik_dok_bulan_tahun` (`kode_dokumen`,`bulan`,`tahun`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_nomor_dokumen`
--

LOCK TABLES `master_nomor_dokumen` WRITE;
/*!40000 ALTER TABLE `master_nomor_dokumen` DISABLE KEYS */;
INSERT INTO `master_nomor_dokumen` VALUES (1,'SJ',6,'2026',1),(2,'INV',6,'2026',11),(3,'BPB',6,'2026',10),(4,'BPB',7,'2026',4),(5,'INV',7,'2026',4),(6,'COS',7,'26',1),(7,'ORD',7,'2026',4),(8,'RPC',7,'2026',2);
/*!40000 ALTER TABLE `master_nomor_dokumen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_sales`
--

DROP TABLE IF EXISTS `master_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_sales` (
  `id_sales` int(11) NOT NULL AUTO_INCREMENT,
  `kode_sales` varchar(20) NOT NULL,
  `userid` int(11) NOT NULL,
  `id_gudang` int(11) NOT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `coa_kas` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_sales`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_sales`
--

LOCK TABLES `master_sales` WRITE;
/*!40000 ALTER TABLE `master_sales` DISABLE KEYS */;
INSERT INTO `master_sales` VALUES (1,'SLS1',4,1,'08123456789','Alamat Dummy','2026-06-29 02:52:46',NULL),(2,'SLS2',5,2,'08123456789','Alamat Dummy','2026-06-29 02:52:46',NULL),(3,'SLS3',6,3,'08123456789','Alamat Dummy','2026-06-29 02:52:46',NULL),(4,'SLS4',7,4,'08123456789','Alamat Dummy','2026-06-29 02:52:46',NULL),(5,'SLS5',8,5,'08123456789','Alamat Dummy','2026-06-29 02:52:46',NULL);
/*!40000 ALTER TABLE `master_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `me`
--

DROP TABLE IF EXISTS `me`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `me` (
  `userid` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `location` varchar(100) NOT NULL,
  `bagian` varchar(50) DEFAULT NULL,
  `jabatan` varchar(50) DEFAULT NULL,
  `aktif` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `me`
--

LOCK TABLES `me` WRITE;
/*!40000 ALTER TABLE `me` DISABLE KEYS */;
/*!40000 ALTER TABLE `me` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu`
--

DROP TABLE IF EXISTS `menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu` (
  `id_menu` int(11) NOT NULL AUTO_INCREMENT,
  `nama_menu` varchar(100) NOT NULL,
  `file_menu` varchar(100) NOT NULL,
  `icon_menu` varchar(100) DEFAULT NULL,
  `urutan` int(11) DEFAULT 0,
  `aktif` tinyint(1) DEFAULT 1,
  `badge1_sql` text DEFAULT NULL,
  `badge2_sql` text DEFAULT NULL,
  PRIMARY KEY (`id_menu`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu`
--

LOCK TABLES `menu` WRITE;
/*!40000 ALTER TABLE `menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `negara`
--

DROP TABLE IF EXISTS `negara`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `negara` (
  `idn` int(11) NOT NULL AUTO_INCREMENT,
  `negara` varchar(100) NOT NULL,
  `status` enum('aktive','nonaktive') NOT NULL,
  PRIMARY KEY (`idn`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `negara`
--

LOCK TABLES `negara` WRITE;
/*!40000 ALTER TABLE `negara` DISABLE KEYS */;
/*!40000 ALTER TABLE `negara` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaranho1`
--

DROP TABLE IF EXISTS `pembayaranho1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembayaranho1` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `j_value` varchar(100) NOT NULL,
  `cust` varchar(100) NOT NULL,
  `bayar` decimal(50,2) NOT NULL,
  `bank` varchar(100) NOT NULL,
  `userbayar` varchar(200) NOT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'HO1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaranho1`
--

LOCK TABLES `pembayaranho1` WRITE;
/*!40000 ALTER TABLE `pembayaranho1` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayaranho1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembelian_b`
--

DROP TABLE IF EXISTS `pembelian_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembelian_b` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` date NOT NULL,
  `j` varchar(255) NOT NULL,
  `sup` varchar(100) DEFAULT NULL,
  `diskon` decimal(50,2) NOT NULL,
  `ppn` decimal(50,2) NOT NULL,
  `jumlah_m` decimal(50,2) NOT NULL,
  `bank` text NOT NULL,
  `bayar` decimal(50,2) NOT NULL,
  `sisa` decimal(50,2) NOT NULL,
  `harga_m` decimal(10,2) NOT NULL,
  `ppn_m` decimal(10,2) NOT NULL,
  `hargat_m` decimal(10,2) NOT NULL,
  `fp_m` varchar(100) NOT NULL,
  `sj` varchar(100) NOT NULL,
  `userinv` varchar(100) NOT NULL,
  `userbayar` varchar(100) NOT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'SK',
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelian_b`
--

LOCK TABLES `pembelian_b` WRITE;
/*!40000 ALTER TABLE `pembelian_b` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembelian_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembelianho1`
--

DROP TABLE IF EXISTS `pembelianho1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pembelianho1` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` date NOT NULL,
  `j` varchar(255) NOT NULL,
  `sup` varchar(100) DEFAULT NULL,
  `diskon` decimal(50,2) NOT NULL DEFAULT 0.00,
  `ppn` decimal(50,2) NOT NULL,
  `jumlah_m` decimal(50,2) NOT NULL,
  `bank` text NOT NULL,
  `bayar` decimal(50,2) NOT NULL,
  `sisa` decimal(50,2) NOT NULL,
  `harga_m` decimal(10,2) NOT NULL,
  `ppn_m` decimal(10,2) NOT NULL,
  `hargat_m` decimal(10,2) NOT NULL,
  `fp_m` varchar(100) NOT NULL,
  `sj` varchar(100) NOT NULL,
  `userinv` varchar(100) NOT NULL,
  `userbayar` varchar(100) NOT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'HO1',
  `inv` varchar(255) DEFAULT NULL,
  `pph` double DEFAULT NULL,
  `jenispph` varchar(255) DEFAULT NULL,
  `coa` varchar(50) DEFAULT NULL,
  `pph15m` decimal(15,2) DEFAULT 0.00,
  `pph22m` decimal(15,2) DEFAULT 0.00,
  `pph23m` decimal(15,2) DEFAULT 0.00,
  `userid` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB AUTO_INCREMENT=927 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembelianho1`
--

LOCK TABLES `pembelianho1` WRITE;
/*!40000 ALTER TABLE `pembelianho1` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembelianho1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pendaftaran`
--

DROP TABLE IF EXISTS `pendaftaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pendaftaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nik` varchar(255) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `tempat_lahir` varchar(255) NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `Pendidikan` varchar(10) NOT NULL,
  `alamat` text DEFAULT NULL,
  `kelurahan` varchar(255) NOT NULL,
  `kecamatan` varchar(255) NOT NULL,
  `kabupaten` varchar(255) NOT NULL,
  `telp` varchar(20) DEFAULT NULL,
  `status` enum('aktive','nonaktive') NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `ft` varchar(255) NOT NULL,
  `nama_ibu` varchar(255) DEFAULT NULL,
  `nama_ayah` varchar(255) DEFAULT NULL,
  `alamat_orang_tua` varchar(255) NOT NULL,
  `telp_ortu` varchar(20) DEFAULT NULL,
  `nama_ahli_waris` varchar(255) DEFAULT NULL,
  `hubungan` varchar(255) DEFAULT NULL,
  `alamat_ahli_waris` varchar(255) NOT NULL,
  `telp_ahli_waris` varchar(20) DEFAULT NULL,
  `email_ahli_waris` varchar(255) DEFAULT NULL,
  `cabang` varchar(1000) NOT NULL,
  `edit` varchar(10) NOT NULL DEFAULT 'clouse',
  `negara` varchar(255) NOT NULL,
  `sponsor` varchar(100) NOT NULL,
  `tanggal_pendaftaran` date NOT NULL,
  `tanggal_kesehatan` date DEFAULT NULL,
  `tanggal_kesehatan2` date DEFAULT NULL,
  `tanggal_sikotes` date DEFAULT NULL,
  `tanggal_asuransipra` date DEFAULT NULL,
  `tanggal_ujikom` date DEFAULT NULL,
  `tanggal_sebelum_job` date DEFAULT NULL,
  `tanggal_saat_job` date DEFAULT NULL,
  `tanggal_keluar_id` date DEFAULT NULL,
  `tanggal_pembuatan_pasport` date DEFAULT NULL,
  `tanggal_skck` date DEFAULT NULL,
  `tglvisa` date DEFAULT NULL,
  `tglterbang` date DEFAULT NULL,
  `terbangdone` date DEFAULT NULL,
  `tanggal_setelah_penempatan` date DEFAULT NULL,
  `minta` varchar(100) NOT NULL DEFAULT '0',
  `alesan` text DEFAULT NULL,
  `ktp` varchar(50) DEFAULT NULL,
  `kk` varchar(50) DEFAULT NULL,
  `perkawinan` enum('lajang','menikah','janda') NOT NULL,
  `ftp` varchar(100) DEFAULT NULL,
  `namas` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pendaftaran`
--

LOCK TABLES `pendaftaran` WRITE;
/*!40000 ALTER TABLE `pendaftaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `pendaftaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualan_b`
--

DROP TABLE IF EXISTS `penjualan_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penjualan_b` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` date NOT NULL,
  `j` varchar(225) NOT NULL,
  `cust` varchar(100) NOT NULL,
  `diskon` decimal(10,2) DEFAULT NULL,
  `ppn` decimal(10,2) NOT NULL,
  `harga` decimal(10,2) NOT NULL,
  `jumlah` decimal(10,2) NOT NULL,
  `bank` varchar(100) NOT NULL,
  `bayar` decimal(10,2) NOT NULL,
  `sisa` decimal(10,2) GENERATED ALWAYS AS (`jumlah` - `bayar`) STORED,
  `harga_k` decimal(10,2) NOT NULL,
  `ppn_k` decimal(10,2) NOT NULL,
  `hargat_k` decimal(10,2) NOT NULL,
  `fp_k` varchar(100) NOT NULL,
  `po` varchar(200) NOT NULL,
  `userinv` varchar(20) NOT NULL,
  `userbayar` varchar(20) NOT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'SK',
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualan_b`
--

LOCK TABLES `penjualan_b` WRITE;
/*!40000 ALTER TABLE `penjualan_b` DISABLE KEYS */;
/*!40000 ALTER TABLE `penjualan_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualanho1`
--

DROP TABLE IF EXISTS `penjualanho1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penjualanho1` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` date NOT NULL,
  `j` varchar(225) NOT NULL,
  `cust` varchar(100) NOT NULL,
  `diskon` decimal(10,2) DEFAULT NULL,
  `ppn` decimal(10,2) NOT NULL,
  `harga` decimal(10,2) NOT NULL,
  `jumlah` decimal(10,2) NOT NULL,
  `bank` varchar(100) NOT NULL,
  `bayar` decimal(10,2) NOT NULL,
  `sisa` decimal(10,2) GENERATED ALWAYS AS (`jumlah` - `bayar`) STORED,
  `harga_k` decimal(10,2) NOT NULL,
  `ppn_k` decimal(10,2) NOT NULL,
  `hargat_k` decimal(10,2) NOT NULL,
  `fp_k` varchar(100) NOT NULL,
  `po` varchar(200) NOT NULL,
  `userinv` varchar(20) NOT NULL,
  `userbayar` varchar(20) NOT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'HO1',
  `uang` decimal(60,2) NOT NULL,
  `kembalian` decimal(60,2) NOT NULL,
  `inv` varchar(255) DEFAULT NULL,
  `pph` double DEFAULT NULL,
  `jenispph` varchar(255) DEFAULT NULL,
  `no_rpc` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualanho1`
--

LOCK TABLES `penjualanho1` WRITE;
/*!40000 ALTER TABLE `penjualanho1` DISABLE KEYS */;
/*!40000 ALTER TABLE `penjualanho1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pindah_tugas_harian`
--

DROP TABLE IF EXISTS `pindah_tugas_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pindah_tugas_harian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_staff` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `dept` varchar(50) NOT NULL,
  `jabatan` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_staff_date` (`no_staff`,`tanggal`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pindah_tugas_harian`
--

LOCK TABLES `pindah_tugas_harian` WRITE;
/*!40000 ALTER TABLE `pindah_tugas_harian` DISABLE KEYS */;
INSERT INTO `pindah_tugas_harian` VALUES (1,3,'2026-05-08','CANDLE','OPERATOR');
/*!40000 ALTER TABLE `pindah_tugas_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pph23`
--

DROP TABLE IF EXISTS `pph23`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pph23` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal` date NOT NULL,
  `inv` varchar(100) NOT NULL,
  `kodebooking` varchar(100) NOT NULL,
  `cust_id` varchar(100) NOT NULL,
  `bukpot` varchar(50) DEFAULT NULL,
  `pph23` decimal(50,2) NOT NULL,
  `tagihan` decimal(50,2) NOT NULL,
  `fp` varchar(100) DEFAULT NULL,
  `bayar` decimal(10,2) DEFAULT NULL,
  `sisa` decimal(10,2) DEFAULT NULL,
  `location` varchar(20) NOT NULL,
  `devisi` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pph23`
--

LOCK TABLES `pph23` WRITE;
/*!40000 ALTER TABLE `pph23` DISABLE KEYS */;
/*!40000 ALTER TABLE `pph23` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rate_gaji_harian`
--

DROP TABLE IF EXISTS `rate_gaji_harian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rate_gaji_harian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dept` varchar(50) NOT NULL,
  `jabatan` varchar(50) NOT NULL,
  `gaji_harian` decimal(15,2) DEFAULT 0.00,
  `upah_lembur_jam` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_dept_jabatan` (`dept`,`jabatan`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rate_gaji_harian`
--

LOCK TABLES `rate_gaji_harian` WRITE;
/*!40000 ALTER TABLE `rate_gaji_harian` DISABLE KEYS */;
INSERT INTO `rate_gaji_harian` VALUES (1,'BOX','OPERATOR',130000.00,15000.00),(2,'BOX','STAFF',140000.00,16000.00),(3,'BOX','HARIAN',120000.00,15000.00),(4,'CANDLE','OPERATOR',125000.00,15000.00),(5,'CANDLE','STAFF',135000.00,16000.00),(7,'CANDLE','HARIAN',150000.00,15000.00);
/*!40000 ALTER TABLE `rate_gaji_harian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recuring`
--

DROP TABLE IF EXISTS `recuring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recuring` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_recuring` varchar(50) DEFAULT NULL,
  `kode` varchar(50) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `lampiran` varchar(255) DEFAULT NULL,
  `coad` varchar(50) DEFAULT NULL,
  `account_named` varchar(150) DEFAULT NULL,
  `debet` decimal(15,2) DEFAULT 0.00,
  `coak` varchar(50) DEFAULT NULL,
  `account_namek` varchar(150) DEFAULT NULL,
  `kredit` decimal(15,2) DEFAULT 0.00,
  `location` varchar(50) DEFAULT NULL,
  `devisi` varchar(50) DEFAULT NULL,
  `ab` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recuring`
--

LOCK TABLES `recuring` WRITE;
/*!40000 ALTER TABLE `recuring` DISABLE KEYS */;
/*!40000 ALTER TABLE `recuring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_gaji_detail`
--

DROP TABLE IF EXISTS `riwayat_gaji_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_gaji_detail` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `periode_id` int(11) NOT NULL,
  `no_staff` int(11) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `jenis_gaji` varchar(20) NOT NULL,
  `total_hadir` decimal(5,1) DEFAULT 0.0,
  `total_absen` decimal(5,1) DEFAULT 0.0,
  `total_terlambat_menit` int(11) DEFAULT 0,
  `total_lembur_jam` decimal(5,1) DEFAULT 0.0,
  `gaji_dasar_periode` decimal(15,2) DEFAULT 0.00,
  `gaji_lembur_periode` decimal(15,2) DEFAULT 0.00,
  `potongan_absen` decimal(15,2) DEFAULT 0.00,
  `potongan_terlambat` decimal(15,2) DEFAULT 0.00,
  `take_home_pay` decimal(15,2) DEFAULT 0.00,
  `detail_harian_json` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `periode_id` (`periode_id`),
  CONSTRAINT `riwayat_gaji_detail_ibfk_1` FOREIGN KEY (`periode_id`) REFERENCES `riwayat_gaji_periode` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=315 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_gaji_detail`
--

LOCK TABLES `riwayat_gaji_detail` WRITE;
/*!40000 ALTER TABLE `riwayat_gaji_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_gaji_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_gaji_periode`
--

DROP TABLE IF EXISTS `riwayat_gaji_periode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_gaji_periode` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tgl_awal` date NOT NULL,
  `tgl_akhir` date NOT NULL,
  `total_karyawan` int(11) DEFAULT 0,
  `total_thp` decimal(15,2) DEFAULT 0.00,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_gaji_periode`
--

LOCK TABLES `riwayat_gaji_periode` WRITE;
/*!40000 ALTER TABLE `riwayat_gaji_periode` DISABLE KEYS */;
INSERT INTO `riwayat_gaji_periode` VALUES (2,'2026-05-04','2026-05-12',157,155694023.00,'2026-06-26 15:52:27');
/*!40000 ALTER TABLE `riwayat_gaji_periode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rpc_header`
--

DROP TABLE IF EXISTS `rpc_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rpc_header` (
  `no_rpc` varchar(50) NOT NULL,
  `tanggal_rpc` datetime DEFAULT NULL,
  `user_pembuat` varchar(50) DEFAULT NULL,
  `supir` varchar(100) DEFAULT NULL,
  `plat_nomor` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`no_rpc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rpc_header`
--

LOCK TABLES `rpc_header` WRITE;
/*!40000 ALTER TABLE `rpc_header` DISABLE KEYS */;
INSERT INTO `rpc_header` VALUES ('0001/RPC/VII/2026','2026-07-17 05:28:29','af',NULL,NULL),('0002/RPC/VII/2026','2026-07-17 06:07:57','af',NULL,NULL);
/*!40000 ALTER TABLE `rpc_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock`
--

DROP TABLE IF EXISTS `stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock` (
  `ids` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` datetime NOT NULL,
  `inv` varchar(100) DEFAULT NULL,
  `kodeb` varchar(100) NOT NULL,
  `J` varchar(100) DEFAULT NULL COMMENT 'Nomor transaksi IN+Tahun+Bulan+000001',
  `sup` varchar(50) DEFAULT NULL,
  `cus` varchar(50) DEFAULT NULL,
  `jumlah_m` decimal(20,2) DEFAULT 0.00 COMMENT 'Barang Masuk',
  `harga_m` decimal(20,2) DEFAULT 0.00,
  `ppn_m` decimal(20,2) DEFAULT 0.00,
  `hargat_m` decimal(20,2) DEFAULT 0.00,
  `jumlah_k` decimal(20,2) DEFAULT 0.00 COMMENT 'Barang Keluar',
  `hpp` decimal(15,2) DEFAULT 0.00,
  `harga_k` decimal(20,2) DEFAULT 0.00,
  `ppn_k` decimal(20,2) DEFAULT 0.00,
  `hargat_k` decimal(20,2) DEFAULT 0.00,
  `userid` varchar(255) DEFAULT NULL,
  `sj` varchar(50) DEFAULT NULL,
  `id_gudang` int(11) DEFAULT NULL,
  `batch` varchar(100) DEFAULT NULL,
  `bulan` int(11) DEFAULT 0,
  `noseri` varchar(100) DEFAULT '',
  `s` decimal(15,2) DEFAULT 0.00,
  `r` decimal(15,2) DEFAULT 0.00,
  `sg` decimal(15,2) DEFAULT 0.00,
  PRIMARY KEY (`ids`),
  KEY `idx_kodeb` (`kodeb`),
  KEY `idx_tanggal` (`tanggal_transaksi`),
  KEY `idx_gudang` (`id_gudang`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock`
--

LOCK TABLES `stock` WRITE;
/*!40000 ALTER TABLE `stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sup`
--

DROP TABLE IF EXISTS `sup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sup` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(50) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `kategori` varchar(100) DEFAULT NULL,
  `alamat` text NOT NULL,
  `npwp` varchar(50) DEFAULT NULL,
  `cabang` varchar(100) DEFAULT NULL,
  `kontak` varchar(100) DEFAULT NULL,
  `telp` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `syarat_bayar` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sup`
--

LOCK TABLES `sup` WRITE;
/*!40000 ALTER TABLE `sup` DISABLE KEYS */;
/*!40000 ALTER TABLE `sup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `susut`
--

DROP TABLE IF EXISTS `susut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `susut` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `susut` decimal(65,2) DEFAULT NULL,
  `recuring` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `susut`
--

LOCK TABLES `susut` WRITE;
/*!40000 ALTER TABLE `susut` DISABLE KEYS */;
/*!40000 ALTER TABLE `susut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tabungan1`
--

DROP TABLE IF EXISTS `tabungan1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tabungan1` (
  `idt` int(11) NOT NULL AUTO_INCREMENT,
  `induk` varchar(10) NOT NULL,
  `tabungan` decimal(60,2) NOT NULL,
  `dibagi` decimal(60,2) NOT NULL,
  `tanggal` date NOT NULL,
  `keterangan` varchar(255) NOT NULL,
  `username` varchar(100) NOT NULL,
  `edit` enum('open','close') DEFAULT 'close',
  `minta` tinyint(1) DEFAULT 0,
  `alesan` text NOT NULL,
  PRIMARY KEY (`idt`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tabungan1`
--

LOCK TABLES `tabungan1` WRITE;
/*!40000 ALTER TABLE `tabungan1` DISABLE KEYS */;
/*!40000 ALTER TABLE `tabungan1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terima`
--

DROP TABLE IF EXISTS `terima`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `terima` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `notrim` varchar(100) NOT NULL,
  `sj` varchar(100) NOT NULL,
  `pengirim` varchar(100) NOT NULL,
  `tanggal` date NOT NULL,
  `id_gudang` int(11) NOT NULL,
  `penerima` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terima`
--

LOCK TABLES `terima` WRITE;
/*!40000 ALTER TABLE `terima` DISABLE KEYS */;
/*!40000 ALTER TABLE `terima` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `titipan`
--

DROP TABLE IF EXISTS `titipan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `titipan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_booking` varchar(255) NOT NULL,
  `tanggal` datetime DEFAULT NULL,
  `nominal` decimal(8,2) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `cust_id` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `sup` int(11) DEFAULT NULL,
  `inv` varchar(50) DEFAULT NULL,
  `id_parent` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `titipan`
--

LOCK TABLES `titipan` WRITE;
/*!40000 ALTER TABLE `titipan` DISABLE KEYS */;
/*!40000 ALTER TABLE `titipan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `titipanap`
--

DROP TABLE IF EXISTS `titipanap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `titipanap` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode_booking` varchar(255) NOT NULL,
  `tanggal` datetime DEFAULT NULL,
  `nominal` decimal(62,2) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `cust_id` varchar(100) NOT NULL,
  `inv` varchar(100) DEFAULT NULL,
  `id_parent` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `sup` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `titipanap`
--

LOCK TABLES `titipanap` WRITE;
/*!40000 ALTER TABLE `titipanap` DISABLE KEYS */;
INSERT INTO `titipanap` VALUES (1,'','2026-06-30 00:00:00',23313323.00,'owowowow','',NULL,NULL,'2026-06-30 06:41:38','2026-06-30 06:41:38',1);
/*!40000 ALTER TABLE `titipanap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_b`
--

DROP TABLE IF EXISTS `transaksi_b`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_b` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` datetime NOT NULL,
  `J` text DEFAULT NULL,
  `cus` varchar(50) DEFAULT NULL,
  `kode_b` varchar(50) NOT NULL,
  `nama_b` varchar(100) NOT NULL,
  `jumlah_m` decimal(60,0) DEFAULT 0,
  `harga_m` decimal(60,2) DEFAULT 0.00,
  `ppn_m` decimal(60,2) DEFAULT 0.00,
  `hargat_m` decimal(60,2) DEFAULT 0.00,
  `jumlah_k` decimal(60,0) DEFAULT 0,
  `harga_k` decimal(60,2) DEFAULT 0.00,
  `ppn_k` decimal(60,2) DEFAULT 0.00,
  `hargat_k` decimal(60,2) DEFAULT 0.00,
  `user` varchar(255) DEFAULT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'SK',
  `sj` varchar(50) NOT NULL,
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_b`
--

LOCK TABLES `transaksi_b` WRITE;
/*!40000 ALTER TABLE `transaksi_b` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_b` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksiho1`
--

DROP TABLE IF EXISTS `transaksiho1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksiho1` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `tanggal_transaksi` datetime NOT NULL,
  `J` text DEFAULT NULL,
  `cus` varchar(50) DEFAULT NULL,
  `kode_b` varchar(50) NOT NULL,
  `nama_b` varchar(100) NOT NULL,
  `jumlah_m` decimal(60,2) DEFAULT 0.00,
  `harga_m` decimal(60,2) DEFAULT 0.00,
  `dpp` decimal(60,2) NOT NULL DEFAULT 0.00,
  `ppn_m` decimal(60,2) DEFAULT 0.00,
  `hargat_m` decimal(60,2) DEFAULT 0.00,
  `jumlah_k` decimal(60,2) DEFAULT 0.00,
  `harga_k` decimal(60,2) DEFAULT 0.00,
  `ppn_k` decimal(60,2) DEFAULT 0.00,
  `hargat_k` decimal(60,2) DEFAULT 0.00,
  `user` varchar(255) DEFAULT NULL,
  `cabang` varchar(10) NOT NULL DEFAULT 'HO1',
  `id_gudang` int(11) NOT NULL,
  `sj` varchar(50) NOT NULL,
  PRIMARY KEY (`id_transaksi`)
) ENGINE=InnoDB AUTO_INCREMENT=3063 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksiho1`
--

LOCK TABLES `transaksiho1` WRITE;
/*!40000 ALTER TABLE `transaksiho1` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksiho1` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-17 11:26:52
